# Info
SERVER_MESSAGE=Active for development
SERVER_DETAIL=Development Server

# SQLSERVER or SQLITE
DATABASE_TYPE=SQLITE

# FLOATLY_CONNECTION=Data Source=DESKTOP-86R216N;Initial Catalog=Floatly;Integrated Security=True;Encrypt=True;Trust Server Certificate=True
FLOATLY_CONNECTION=Data Source=database.db;Foreign Keys=True;

# Admin Credentials for web authentication
ADMIN_USERNAME=1
ADMIN_PASSWORD=1

# SMTP Configuration
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_EMAIL=
SMTP_PASSWORD=

# Autologin Token Expiry in days
TOKEN_EXPIRED_IN_DAYS=7